@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
#topo{
    background-image: url(/imagens/back.png);
    background-size: 420px;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}
nav .logo{
    width: 150px;
}
.links{
    flex: 1;
    text-align: right;
    
}
.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.links ul li a{
    color: rgb(4, 95, 48);
    text-decoration: none;
    font-size: 1.1rem;
}

.links ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background-color: rgb(22, 185, 85);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.links ul li:hover::after{
 width: 100%;
}

.texto{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
}
.texto h1{
    font-size: 92px;
}
.logotipo{
    width: 850px;
}
 nav .fa{
    display: none;
 }

 @media(max-width: 999px) {
    
     .logotipo{
        width: 550px;
     }
     .links ul li{
       display: block;

     }
     .links ul li a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1.1rem;
        text-align: center;
    }
    .links{
        position: absolute;
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        display: none;

    }
    .links ul li::after{
      
        background-color: rgb(255, 255, 255);
  
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 20px;
        font-size: 22px;
        cursor: pointer;
        

    }
   
    .links ul{
        text-align: center;
        padding: 20px;
    }
   .headline{
    color: #fff;
    text-align: center;
    padding-top: 15px;
    font-size: 1.1rem;
   }
}
 
